
/* Breakpoints */
$breakpoint-lg: 1440px;
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;

/* Colors */


/* Box shadow */
$material-box: 0px 2px 5px 0px rgba(0,0,0,0.26), 0px 2px 10px 0px rgba(0,0,0,0.16);
